@import url('debug.css');
@import url('fonts.css');

/****************************/
/** Reset **/
/****************************/	

html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Raleway';
	vertical-align: baseline;
}

strong {
	font-weight:bold;
}
 
body {
	background-color: #25282f;
	color: #7a7a7a;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height:1.5;
	overflow: hidden;
}

button:focus{
	border:none;
	outline:0;
}

ul {
    list-style: none;
}

a {
    color: #16a085;
    text-decoration: none;
	font-weight: 500;
	font-size: 15px;
}

a:hover {
    color: #16a085;
    text-decoration: underline;
}

a:focus {
 	color: #16a085;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	font-size: 2em;
	color: #fff;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

p {
	display: block;
	color: #5f6061;
    font-size: 1.1em;
    line-height: 1.6em;
}

html {
	overflow: hidden;
}
.bottom-spacing {
	margin-bottom:2.5%;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
   
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;

}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;

}
.form-control::-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;

}
.form-control*::-moz-placeholder {
	color: #fff;

}

.no-transform {
	text-transform: none;
}

/********** Spacing ***********/
.space {
	display: block;
	padding: 0;
	margin: 0;
}

.space-10 { height: 10px; }
.space-20 { height: 20px; }
.space-30 { height: 30px; }
.space-40 { height: 40px; }
.space-50 { height: 50px; }


/****************************/
/** Navigation Bootstrap **/
/****************************/

#header, .scroll-header {
	background: none repeat scroll 0 0 #0f1726;
}

.header {
	width: 100%;
	position: fixed;
	z-index: 3;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translateZ(0);
}

#navbar-collapse {
	float: right;
}

.navbar.navbar-default {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-family: Raleway;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: rgb(46, 62, 79);
	border-top: none;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-top: 8px;
    padding: 9px 12px;
    position: relative;
}

.navbar-nav {
	float: right;
}

.navbar-nav > li {
	height: 70px;
}

.navbar-nav > li:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 70px;
  vertical-align: middle;
}

.navbar-nav > li > a {
	display: inline-block;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	vertical-align: middle;
}


.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
	color: #16a085;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #16a085;
	background: none;
}

.navbar-nav > li > a.btn,
.navbar-nav > li > a.btn:focus,
.navbar-nav > li > a.btn:hover
 {
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #16a085;
	border-radius: 0px;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 15px;
	margin-top: 0;
	color: #fff;
	border-radius: 5px;
}

.dropdown-btn > li > a {
	padding: 0;
	height: 30px;
	width: 30px;
	z-index: 1;
	webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.dropdown-btn > li > a:after {
	display: block;
	position: absolute;
	content: '\25BC';
	top: 0;
	left: 0;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	background-color: #000;
	border-radius: 5px;
	border: 1px solid #16a085;
	z-index: -1;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.dropdown-btn > li > a:hover:after {
	z-index: 2;
	color: #fff;
}

.dropdown-btn > li > a > img {
	width: inherit;
	height: inherit;
	border: 1px solid #16a085;
	border-radius:5px;
	padding: 0;
	margin: 0;
}

.dropdown, .dropdown2 {
	clear: both; 
	position: absolute; 
	right: 15px; 
	margin-top: 70px;
	display: none;
}

.dropdown li, .dropdown2 li {
	border: 1px solid #16a085;
	border-bottom: none;
}

.dropdown li.last, .dropdown2 li.last {
	border-bottom: 1px solid #16a085;
}

.dropdown li > a, 
.dropdown2 li > a, 
.dropdown li > a:focus
.dropdown2 li > a:focus
 {
	font-size: 10px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #fff;
	background-color: #0f1726;
}

.dropdown li > a:hover,
.dropdown2 li > a:hover
 {
	background-color: #16a085;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
}

.navbar-brand {
	height:100%;
	padding: 10px 10px 9px 10px;
}

#bs-navbar-collapse {
	float: right;
}


/**********************/
/** Button Effect */
/*********************/

.btn:hover, .btn-effect:hover {
	color: #fff;
	text-decoration: none;
}

.btn-effect {
	background: none repeat scroll 0 0 #16a085;
	display: inline-block;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin: 2.9em auto 0;
    padding: 12.5px 35px;
    text-transform: uppercase;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	letter-spacing: 0.2em;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	z-index: 1;
	cursor: pointer;
	position: relative;
}

.btn-effect:after {
	background: none repeat scroll 0 0 #000;
	border-radius: 5px;
	height: 0;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	content: "";
	position: absolute;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.btn-effect:hover:after, 
.btn-effect:active:after {
	height: 100%;
	text-decoration: none;
}

#responsive {
	background-color: #fff;
}

/************************************/
/** Pages **/
/***********************************/
.page {
	color: #363738;
	background-color: #f3f5f8;
	margin-top: 70px;
	padding: 5% 0;
}

.page .row {
	margin: 0px;
}

.page p {
	display: block;
}

.page p, 
.page ul {
	font-weight: 500;
	letter-spacing: 0.05em;
	margin: 10px 0;
}

.page p img {
	display: block;
	margin: 0 auto;
}

.page ul {
	margin-left: 30px;
}

.page ul li {
	margin: 7px 0px;
	font-weight: 500;
	display: list-item;
	list-style-type: disc;
}

.page blockquote cite {
	display: block;
	font-size: 13px;
	font-style: italic;
}

.page blockqoute cite:before {
	content: ' - ';
}

.page h1, .page h2, .page h3 {
	font-weight: 500;
	color: #16a085;
}

.page .title {
	margin-bottom: 25px;
}

.page .title h1 {
	text-align: center;
	font-size: 32px;
	font-weight: 400;
	text-transform: uppercase;
}

.page .title h2, h3 {
	text-align: center;
}

.page .title h3 {
	text-transform: none;
}

.page .highlight {
	display: block;
	border: 1px solid #16a085;
	padding: 10px;
	border-radius: 5px;
	background-color: #b5f2d8;
	margin-bottom: 20px;
}
.page .inline {
	display: inline-block;
	padding: 25px;
}

.page .center { text-align: center; }

.page .highlight, .page .highlight p {
	color: #0f1726;
}

.page .highlight h3 {
	font-weight: 500;
}

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/
form {
}

form label {
	display: block;
	text-align: left;
	margin-bottom: 0.5em;
}

form input.text, form textarea, form select {
	position: relative;
	-webkit-appearance: none;
	display: block;
	border: 0;
	background: #fff;
	background: rgba(255,255,255,0.75);
	width: 100%;
	letter-spacing: 0.1em;
	border-radius: 5px;
	font-weight: 500;
	margin: 1em 0em;
	padding: 0.5em 1em;
	box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
	border: solid 1px rgba(0,0,0,0.15);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	outline: none;
}

form select option {
	display: block;
	padding: 0 0 0 20px;
}

form .login input.text {
	margin: 1em auto;
}

form span {
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	padding-left: 10px;
}

form .checkbox {
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 20px;
	vertical-align: baseline;
}
	

form input.text:hover,
form select:hover,
form textarea:hover {
}

form input.text:focus, 
form select:focus,
form textarea:focus {
	box-shadow: 0 0 2px 1px #E0E0E0;
	background: #fff;
}

form .formerize-placeholder {
	color: #555 !important;
}

form ::-webkit-input-placeholder {
	color: #555 !important;
}

form :-moz-placeholder {
	color: #555 !important;
}

form ::-moz-placeholder {
	color: #555 !important;
}

form :-ms-input-placeholder {
	color: #555 !important;
}

form ::-moz-focus-inner {
	border: 0;
}


/************************************/
/** Footer **/
/************************************/

footer a {
	color: #fff;
}

footer {
	background-color: #25282f;
	border-top: 1px solid #212329;
    padding: 25px 0;
	color: #666;
	font-weight: 400;
}

footer ul {
	list-style: none;
	line-height: 25px;
	text-align: center;
	width: 100%;
}

footer ul li {
	display: inline-block;
	letter-spacing: 1.2px;
}

footer ul li::after {
	content: " |";
	margin-right: 10px;
}

footer ul li:last-child::after {
	content: "";
}

footer ul li a {
	font-weight: 400;
	color: #a5aca5;
}

footer ul li a:hover {
	text-decoration: underline;
}

footer * {
	font-size: 13px;
}

.sponsor-font{
	font-size: 13px;
}